@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/* Basic Styles */
body {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

.pokemon-list {
  padding: 0;
  list-style: none;
}

input {
  outline: none;
}

button,
ul,
li {
  text-transform: capitalize;
}
